@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
	font-family: 'Roboto', sans-serif;
}

#intro {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 400px;
	opacity: .7;
}

#project {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 400px;
	opacity: .9;
}

#about {
	padding: 0;
	margin: 0;
	width: 50%;
	height: 465px;
	opacity: .8;
	float: left;
}

#abouts {
	padding: 0;
	margin: 0;
	width: 50%;
	height: 465px;
	opacity: .8;
	float: right;
}

#blog {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 597px;
	opacity: .9;
}

@media screen and (min-width: 100px) {
	#intro {
		height: 340px;
	}
	#about {
		height: 300px;
	}
	#abouts {
		height: 300px;
	}
	#project {
		height: 335px;
	}
	#blog {
		height: 432px;
	}
}

@media screen and (min-width: 1279px) {
	#intro {
		height: 67px;
	}
}

@media screen and (min-width: 1400px) {
	#intro {
		height: 450px;
	}
}

@media screen and (min-width: 1600px) {
	#intro {
		height: 394px;
	}
	#about {
		height: 401px;
	}
	#abouts {
		height: 401px;
	}
	#project {
		height: 343px;
	}
	#blog {
		height: 520px;
	}
}

@media screen and (min-width: 1679px) {
	#intro {
		height: 417px;
	}
	#about {
		height: 427px;
	}
	#abouts {
		height: 427px;
	}
	#project {
		height: 369px;
	}
	#blog {
		height: 546px;
	}
}

@media screen and (min-width: 1850px) {
	#intro {
		height: 473px;
	}
	#about {
		height: 457px;
	}
	#abouts {
		height: 457px;
	}
	#project {
		height: 399px;
	}
	#blog {
		height: 576px;
	}
}

@media screen and (min-width: 2560px) {
	#intro {
		height: 450px;
	}
}

#footer {
	text-align: center;
	background-color: grey darken-4;
	height: 245px;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	color: white;
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: white;
}

#divider {
	margin: 0;
	padding: 0;
}

img {
	margin: 0;
	padding: 0;
}

#red darken-4 {
	margin: 0;
	padding: 0;
}
